footer{
    background-color: #637698;
    color: #fff;
    padding: 40px;
    .inner{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: #fff;
        @include responsive(sm){
            flex-wrap: wrap;
        }
        .origin-and-address{
            width: calc(50% - 200px);
            align-self: flex-end;
            @include responsive(sm){
                width: 50%;
                order: 1;
            }
            .logos-wrap{
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                @include responsive(md){
                    margin-bottom: 5px;
                }
                @include responsive(xs){
                    margin-bottom: 2px;
                }
                .exr-logo{
                    width: 80px;
                    margin-right: 15px;
                    @include responsive(lg){
                        width: 70px;
                    }
                    @include responsive(md){
                        width: 50px;
                        margin-right: 12px;
                    }
                    @include responsive(sm){
                        width: 60px;
                        margin-right: 12px;
                    }
                    @include responsive(xs){
                        width: 40px;
                        margin-right: 10px;
                    }
                    img{
                        width: 100%;
                    }
                }
                .house-logo{
                    width: 70px;
                    @include responsive(lg){
                        width: 60px;
                    }
                    @include responsive(md){
                        width: 40px;
                    }
                    @include responsive(sm){
                        width: 50px;
                    }
                    @include responsive(xs){
                        width: 30px;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            p{
                font-size: 14px;
                font-weight: 400;
                font-family: 'Super Gothic';
                @include responsive(md){
                    font-size: 10px;
                }
                @include responsive(sm){
                    font-size: 12px;
                }
                @include responsive(xs){
                    font-size: 8px;
                }
            }
        }
        .logo-and-copyright{
            text-align: center;
            @include responsive(sm){
                width: 100%;
                margin-bottom: 35px;
            }
            @include responsive(xs){
                margin-bottom: 30px;
            }
            img{
                margin-bottom: 30px;
                @include responsive(xl){
                    width: 160px;
                }
                @include responsive(md){
                    width: 120px;
                    margin-bottom: 25px;
                }
                @include responsive(sm){
                    margin-bottom: 20px;
                    width: 140px;
                }
                @include responsive(xs){
                    width: 120px;
                }
            }
            p{
                font-size: 18px;
                font-family: 'Super Gothic';
                font-weight: 400;
                @include responsive(lg){
                    font-size: 16px;
                }
                @include responsive(md){
                    font-size: 14px;
                }
                @include responsive(sm){
                    font-size: 16px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
            }
        }
        .links{
            width: calc(50% - 200px);
            align-self: center;
            text-align: end;
            @include responsive(sm){
                width: 50%;
                order: 2;
                align-self: flex-end;
            }
            .link{
                display: block;
                font-size: 25px;
                margin-bottom: 26px;
                text-decoration: none;
                font-family: 'cako';
                font-weight: 400;
                color: #f4e9d7;
                @include responsive(xl){
                    margin-bottom: 20px;
                }
                @include responsive(lg){
                    font-size: 22px;
                }
                @include responsive(md){
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                @include responsive(sm){
                    font-size: 20px;
                    margin-bottom: 16px;
                }
                @include responsive(xs){
                    font-size: 16px;
                    margin-bottom: 12px;
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}